/* Stylesheet for snowmachine */
body {
	font-family: Consolas;
}
#ns-canvas {
	border:8px lightgray solid;
	display: inline-block;
	background-color:#000000;
}
#top{
	width: 100%;
	text-align: center;
	clear:both;
}
#slider {
	float:right;
	margin-top:15px;
	width:200px;
}

#flake-amount {
	float:right;
	height:20px;
	padding:13px;
	margin-right:20px;
	width:13em;
}
#flakes-on-canvas {
	float:left;
}	
#flake-counter {
	float:right;
}

#new-flakes {
	width:13em;
	float:right;
	height:20px;
	padding:13px 0px 10px 10px;
}
#flake-slider {
	float:right;
}
#flakes-per-frame {
	float:left;
}